.theme-light {
    color-scheme: light;
    --color-red-rgb: 228, 55, 75;
    --color-red: #a11;
    --color-green-rgb: 12, 181, 79;
    --color-green: #170;
    --color-orange: #d96c00;
    --color-yellow: #BD8E37;
    --color-cyan: #2db7b5;
    --color-blue: #00c;
    --color-purple: #876be0;
    --color-pink: #C32B74;

    --background-primary-alt: #f6f6f6;

    /* text */
    --text-normal: #24292f;
    --text-muted: #57606a;
    --text-faint: #6e7781;
}

.theme-dark {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --rgb-hover: 177, 186, 196;
    --color-red-rgb: 248, 81, 73;
    --color-red: #F47067;
    --color-green-rgb: 126, 231, 135;
    --color-green: #7ee787;
    --color-orange: #FFA657;
    --color-yellow: #d29922;
    --color-cyan: #A5D6FF;
    --color-blue: #6CB6FF;
    --color-purple: #D2A8FF;
    --color-pink: #f778ba;

    --color-base-00: #020409;
    --color-base-10: #0e1116;
    /* --color-base-20: #161b22; */
    --color-base-20: #020409;
    --color-base-25: #010409;
    --color-base-30: #30363d;
    --color-base-35: #21262d;
    --color-base-40: #30363d;
    --color-base-50: #6e7681;
    --color-base-60: #999; /* Unused */
    --color-base-70: #8b949e;
    --color-base-100: #c9d1d9;

    --accent-h-theme: 212;
    --accent-s-theme: 100%;
    --accent-l-theme: 67%;
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
    --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));

    --background-secondary-alt: var(--color-base-25);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
    --text-highlight-bg: rgba(255, 208, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: hsla(var(--interactive-accent-hsl), 0.4);
    --input-shadow: inset 0 0 0 1px #f0f6fc1a;
    --input-shadow-hover: inset 0 0 0 1px var(--color-base-70);
    --shadow-s: none;
    --shadow-l: none;

    --inline-code-background: #6e768166;
    --h-color-theme: var(--color-green);
    --h1-color-theme: var(--color-green);
    --h2-color-theme: var(--color-green);
    --h3-color-theme: var(--color-green);
    --h4-color-theme: var(--color-green);
    --h5-color-theme: var(--color-green);
    --h6-color-theme: var(--color-green);
    --background-modifier-hover-alpha: 0.12;
    --color-btn-primary-bg: #238636;
    --color-btn-primary-hover-bg: #2ea043;

    /* Kanban colors */
    --kanban-background: var(--background-primary);
    --kanban-lane-background: var(--background-secondary-alt);
    --kanban-item-background: var(--background-primary-alt);
    --kanban-lane-border: var(--color-base-35);
    --kanban-lane-count: var(--color-base-35);
    --kanban-options-btn: var(--color-base-30);
}

body {
    --text-highlight-bg: transparent !important;
    --text-highlight-bg-active: transparent !important;

    /* Code */
    --code-background: var(--background-primary-alt);
    --code-normal: var(--text-normal);
    --code-comment: var(--text-faint);
    /* --code-function: var(--text-normal); */
    --code-function: var(--color-red);
    --code-important: var(--color-orange);
    --code-keyword: var(--color-red);
    --code-property: var(--text-normal);
    --code-punctuation: var(--text-muted);
    --code-string: var(--color-red);
    --code-tag: var(--color-green);
    --code-value: var(--color-purple);

    /* hr */
    --hr-thickness: 1px;
}

/* body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile { */
/*     background-color: #ffffff; */
/* } */
